# Visual Studio
.vs/
*.user
*.suo
*.aps
*.ncb
*.sdf
*.opensdf
*.cachefile

# Binarios y objetos compilados
x64/
Debug/
Release/
*.obj
*.exe
*.pdb
*.ilk
*.idb

# NASM (por si alguien compila fuera de VS)
*.o